#regex-messages ul {
  padding:2px;
  border:1px solid;
}

#regex-messages ul.status {
  color            : #33A333;
  background-color : #FFFFFF;
  border-color     : #C7F2C8;
}

#regex-messages ul.warning {
  color            : #222200;
  background-color : #FFFFDD;
  border-color     : #F0C020;
}

#regex-messages ul.error {
  color            : #A30000;
  background-color : #FFCCCC;
  border-color     : #DD7777;
}
